body {
	font-family: 'Open Sans', sans-serif;
}

.topnav {
	padding: 20px 0px;
	text-align: right;
}

/* Targets just <a> tags inside of the <nav class="topnav"> */
.topnav a {
	text-decoration: none;
	color: white;
	padding: 10px;
	font-weight: 600;
}

/* Targets just <a> tags inside of the <nav class="topnav">,
   when mouse is hovering over it: 
*/
.topnav a:hover {
	text-decoration: none;
	color: yellow;
	background-color: white;
}

header {
	float: right;

}

footer {
	border-top: 1px solid black;
	margin-top: 400px;
}
img {
	border: 15px solid  #000000;
	margin-left:-929px;
	height: 350px;
	width: 480px;
}
.textcenter{
	text-align: center;
}
h2{
	text-align: center;
	border: 15px solid #000000;
	margin-left: 457px;
	margin-right: 457px;
	color: maroon;
}
h1{
	text-decoration: underline;
	float: left;
}
.section1{
	clear: both;
}
.copyright{

	margin-bottom: 400px;
}